openapi: 3.0.0
info:
  title: Animal Service API
  version: 1.0.0
servers:
  - url: http://localhost:1083/
    description: Development
  - url: https://animal-service.dogcatbmpz.by/
    description: Production
tags:
  - name: Animal
    description: CRUD for animals
paths:
  /animals:
    $ref: "./paths/animals.yaml"
  /animals/short:
    $ref: "./paths/animals-short.yaml"
  /animals/{animalId}:
    $ref: "./paths/animal.yaml"
  /animals/{animalId}/images:
    $ref: "./paths/images.yaml"
  /animals/{animalId}/images/${imageId}/order:
    $ref: "./paths/image-order.yaml"
  /animals/{animalId}/images/${imageId}:
    $ref: "./paths/image.yaml"
  /platforms:
    $ref: "./paths/platforms.yaml"
  /platforms/{platformId}:
    $ref: "./paths/platform.yaml"
  /stats/animals-per-age:
    $ref: "./paths/animals-per-age.yaml"
  /stats/adopted-per-month:
    $ref: "./paths/adopted-per-month.yaml"
components:
  securitySchemes:
    AccessTokenAuth:
      type: apiKey
      in: header
      name: x-access-token
  schemas:
    $ref: "./schemas/index.yaml"
